@font-face {
  font-family: 'EtelkaLight';
  src: url('../font/EtelkaLight.eot'); /* IE9 Compat Modes */
  src: url('../font/EtelkaLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/EtelkaLight.woff') format('woff'), /* Modern Browsers */
       url('../font/EtelkaLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/EtelkaLight.svg#svgEtelkaLight') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'EtelkaLight-Italic';
  src: url('../font/EtelkaLight-Italic.eot'); /* IE9 Compat Modes */
  src: url('../font/EtelkaLight-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/EtelkaLight-Italic.woff') format('woff'), /* Modern Browsers */
       url('../font/EtelkaLight-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/EtelkaLight-Italic.svg#svgEtelkaLight-Italic') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'EtelkaText';
  src: url('../font/EtelkaText.eot'); /* IE9 Compat Modes */
  src: url('../font/EtelkaText.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/EtelkaText.woff') format('woff'), /* Modern Browsers */
       url('../font/EtelkaText.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/EtelkaText.svg#svgEtelkaText') format('svg'); /* Legacy iOS */
}
 

body {
  background: #fafafa;
  font-family: 'EtelkaLight',"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h1{
  margin-bottom: 40px;
}

.form-group {
margin-bottom: 25px;
}


.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.progress-bar:nth-child(1){
  background-color: grey;
}

.progress-bar:nth-child(2){
  background-color: green;
}

.progress-bar:nth-child(3){
  /*background-color: blue;*/
}


.form-window{
  overflow: hidden;
  position:relative;
}

.form-window section{
  height: 50px;
  margin-bottom: 20px;
}

.form-window section .progress{
  float: left;
  width: 100%;
  margin: 22px 0 0 0;
  height: 7px;
}

.form-window .section-points{
  position: absolute;
}

.form-window .section-points .point{
  height: 50px;
  width:50px;
  border-radius: 50%;
  position: absolute;
  background-color: #FFDB99;
  -webkit-transition:all 1s;
  transition:all 1s;
}

.form-window .section-points .point.active{
  box-shadow: 1px 5px 6px #888;
  background: #FFA500;
}

.form-window .section-points .point1{
  left: 0px;
}

.form-window .section-points .point2{
  left: 260px;
}

.form-window .section-points .point3{
  left: 545px;
}

.form-window .section-points .point4{
  left: 810px;
}



.checkme-down{
  margin-top: 30px;
}

.small-field {
width: 60px;
}

.hours-section span {
margin: 0 20px 0 10px;
}

.hours-section span input {
display: inline;
}

.arrow{
  height: 150px;
  width: 75px;
  background:url('../images/arrows.png');
  display: block;
  margin-top: 260px;
}

.arrow.arrow-left{
  background-position: 70px;
}

.ng-enter{

  -webkit-transition:1s opacity;
  transition:1s opacity;
  opacity: 0;
 
}

.ng-enter-active{
  opacity: 1;
}


.field-error{
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.field-error.ng-hide-add { 
  -webkit-transition:0.5s all;
  transition:0.5s all;
  position: relative;
  display: inline !important;
  opacity: 1; 
  bottom: 0;
}

.field-error.ng-hide-add.ng-hide-add-active { 
  opacity: 0;
  bottom: -10px;
}

.field-error.ng-hide-remove { 
  -webkit-transition:0.5s all;
  transition:0.5s all;
  position: relative;
  display: inline !important;
  opacity: 0; 
  bottom: -10px;
}

.field-error.ng-hide-remove.ng-hide-remove-active {  
  opacity: 1; 
  bottom: 0;
}


.request-form input.ng-invalid.ng-dirty, .request-form textarea.ng-invalid.ng-dirty {
border: #F00 1px solid;
}