<ng-form name="stage4">

	<div class="form-group">

	    <button type="button" class="btn btn-primary btn-lg center-block submit-btn" ng-click="submitMyForm()">
	    	<i class="glyphicon glyphicon-envelope"></i>
	    	Submit Form
	    </button>
	</div>

	<div class="form-group">

		<div class="col-md-12">
			
			<div class="alert alert-success col-md-4 col-md-offset-4" role="alert" ng-if="submitted"><strong>Thank You</strong>, your request form has now been submitted</div>

		</div>
		
		

	</div>

	

 

</ng-form>
