<ng-form name="stage3">

	<h1 class="col-md-12">Instructions</h1>

	<div class="form-group col-md-6">

	    <label for="stage3-creative" class="checkbox-inline">
	      <input 
	      type="checkbox" 
	      id="stage3-creative" 
	      name="stage3_creative" 
	      value="Creative" 
	      ng-model="form.stage3Creative"
	      ng-required="!form.stage3Technical"> Creative Brief
	    </label>

	    <label for="stage3-technical" class="checkbox-inline">
	      <input 
	      type="checkbox" 
	      id="stage3-technical" 
	      name="stage3_technical" 
	      value="Technical"
	      ng-model="form.stage3Technical"
	      ng-required="!form.stage3Creative"> Technical specifications
	    </label>

	    <span ng-show="!form.stage3Creative && !form.stage3Technical && (stage3.stage3_creative.$dirty || stage3.stage3_technical.$dirty)" class="field-error" >Required!</span>


	</div>


	<div class="clearfix"></div>


	<div ng-if="form.stage3Creative">

		<div class="form-group col-md-4 ">

            <label for="stage3-presented" class="control-label">How will the work be used or presented?</label>

			<span ng-show="!form.stage3Presented && stage3.stage3Presented.$dirty" class="field-error" >Required!</span>

		      <select 
		      class="form-control" 
		      name="stage3_presented" 
		      id="stage3-presented"
		      ng-model="form.stage3Presented"
		      required>
		        <option value="Pitch">Pitch</option>
		        <option value="RFP">RFP</option>
		        <option value="Creative Theme">Creative Theme</option>
		        <option value="Powerpoint Presentation">Powerpoint Presentation</option>
		        <option value="PDF">PDF</option>
		        <option value="Digital Tool">Digital Tool</option>
		        <option value="Other">Other</option>
		      </select>

        </div>

        <div class="clearfix"></div>


        <div class="form-group col-md-10 " ng-if="form.stage3Presented === 'Other'">

            <label for="stage3-other-presented" class="control-label">Other</label>
            <textarea 
	            class="form-control" 
	            id="stage3-other-presented" 
	            name="stage3_other_presented" 
	            rows="3" 
	            ng-model="form.stage3OtherPresented">
	        </textarea>

        </div>


        <!-- <div class="form-group col-md-10">

          <label for="stage3-objectives" class="control-label">Objectives to accomplish, Key messages to communicate</label>
          <textarea 
	          class="form-control" 
	          id="stage3-objectives" 
	          name="stage3_objectives" 
	          rows="3"
	          ng-model="form.stage3Objectives">
      	  </textarea>

        </div> -->

        <div class="clearfix"></div>


        <div class="form-group col-md-4 ">

            <label for="stage3-branded" class="control-label">Branding options</label>

            <span ng-show="!form.stage3Branded && stage3.stage3_branded.$dirty" class="field-error" >Required!</span>
            
		      <select 
		      class="form-control" 
		      name="stage3_branded" 
		      id="stage3-branded"
		      ng-model="form.stage3Branded"
		      required>
		        <option value="Branded">Branded</option>
		        <option value="Unbranded">Unbranded</option>
		        <option value="Soft branded">Soft branded</option>
		        <option value="Other">Other</option>
		      </select>

        </div>


        <div class="col-md-6 form-group">
          <label for="stage3-loc" class="control-label">Logos to be included</label>
          <input 
          type="text" 
          class="form-control" 
          id="stage3-loc" 
          name="stage3_loc" 
          placeholder="" 
          ng-model="form.stage3Loc">
        </div>


        <div class="form-group col-md-10">

          <label for="stage3-branding" class="control-label">Visual style, look and feel, branding specifications</label>
          <textarea 
	          class="form-control" 
	          id="stage3-branding" 
	          name="stage3_branding" 
	          rows="3" 
	          ng-model="form.stage3Branding">
      	  </textarea>

        </div>


        <div class="form-group col-md-10">

          <label for="stage3-sci-back" class="control-label">Scientific background</label>
          <textarea 
	          class="form-control" 
	          id="stage3-sci-back" 
	          name="stage3_sci_back" 
	          rows="3" 
	          ng-model="form.stage3SciBack">
      	  </textarea>

        </div>


        <div class="col-md-4 form-group">
	        <label for="stage3-ref" class="control-label">Reference materials/content</label>

	        <div class="input-group">	          
	              
              <input 
              type="file" 
              id="stage3-ref" 
              name="stage3_ref" 
              multiple="" 
              ng-model="form.stage3Ref">
	  
	        </div>
	    </div>

	    <div class="col-md-6 form-group">
          <label for="stage3-loc" class="control-label">Server location</label>
          <input 
          type="text" 
          class="form-control" 
          id="stage3-loc" 
          name="stage3_loc" 
          placeholder="Or paste server location here..." 
          ng-model="form.stage3Loc">
        </div>


        <div class="form-group col-md-6">

          <label for="stage3-future" class="control-label">Potential future use</label>
          <input 
          type="text" 
          class="form-control" 
          id="stage3-future" 
          name="stage3_future" 
          placeholder="e.g In scientific posters" 
          ng-model="form.stage3Future">

        </div>
		
	</div>


    <div class="form-group col-md-10">

		<label for="stage3-additional" class="control-label">Additional Information</label>
		<textarea 
			class="form-control" 
			id="stage3-additional" 
			name="stage3_additional" 
			rows="3" 
			ng-model="form.stage3Additional">
		</textarea>
		
    </div>

    <div ng-if="form.stage3Technical">

		<div class="form-group col-md-4">

          <label for="stage3-dimensions" class="control-label">Dimensions</label>

          <span ng-show="!form.stage3Dimensions && stage3.stage3_dimensions.$dirty" class="field-error" >Required!</span>
	         <select 
			      class="form-control" 
			      name="stage3_dimensions" 
			      id="stage3-dimensions"
			      ng-model="form.stage3Dimensions"
			      required>
		        	<option value="US Letter">US Letter</option>
		        	<option value="US Tabloid">US Tabloid</option>
		        	<option value="A5 (UK)">A5 (UK)</option>
		        	<option value="A4 (UK)">A4 (UK)</option>
		        	<option value="A3 (UK)">A3 (UK)</option>
		        	<option value="A2 (UK)">A2 (UK)</option>
		        	<option value="A1 (UK)">A1 (UK)</option>
		        	<option value="Mobile">Mobile</option>
		        	<option value="Tablet">Tablet</option>
		        	<option value="Desktop">Desktop</option>
		        	<option value="Other">Other</option>
		      </select>
        </div>


        <div class="form-group col-md-4">

	      <label for="stage3-orientation" class="control-label">Orientation</label>

		  <span ng-show="!form.stage3Orientation && stage3.stage3_orientation.$dirty" class="field-error" >Required!</span>

	      <select 
	      class="form-control" 
	      name="stage3_orientation" 
	      id="stage3-orientation"
	      ng-model="form.stage3Orientation"
	      required>
	        <option value="Landscape">Landscape</option>
	        <option value="Portrait">Portrait</option>
	        <option value="Not Specified">Not Specified</option>
	      </select>

	    </div>  


	    <div class="clearfix"></div>


	    <div class="form-group col-md-4">

          <label for="stage3-pages" class="control-label">Number of pages</label>

		  <span ng-show="!form.stage3Pages && stage3.stage3_pages.$dirty && stage3.stage3_pages.$invalid" class="field-error" >Required!</span>

          <input 
          type="number" 
          class="form-control small-field" 
          id="stage3-pages" 
          name="stage3_pages" 
          placeholder="No" 
          ng-model="form.stage3Pages"
          required
          min="1">

        </div>
		
	</div>

</ng-form>
