<ng-form name="stage1">

	
    <h2 class="col-md-12">Job Information</h2>
    

	<div class="form-group col-md-3">
		<label for="stage1-code">Job Code</label>

		<span class="help-icon" data-toggle="tooltip" data-placement="right" title="Tooltip on left lorem" tooltip></span>

		<span ng-show="stage1.stage1_code.$invalid && stage1.stage1_code.$dirty" class="field-error" >Required!</span>

		<input 
		type="text" 
		class="form-control" 
		id="stage1-code"
		name="stage1_code"
		ng-model="form.stage1Code"
		placeholder=""
		required
		style="width:85%">


	</div>


	<div class="clearfix"></div>

	<div class="form-group col-md-6">
			
			<label class="radio-inline" for="stage1-new">
				<div class="radio-btn-container" ng-class="{'active' : request_form.stage1.stage1_new_existing.$valid}">
					<div class="radio-btn" ng-class="{'active': form.stage1Job == 'New job'}"></div>
				</div>
		
	          <input 
	          type="radio" 
	          id="stage1-new" 
	          name="stage1_new_existing" 
	          value="New job" 
	          ng-model="form.stage1Job"
	          required> 
	          New Job
	        </label>
		
       
        	<label class="radio-inline" for="stage1-existing">
        		<div class="radio-btn-container" ng-class="{'active' : request_form.stage1.stage1_new_existing.$valid}">
					<div class="radio-btn" ng-class="{'active': form.stage1Job == 'Existing job'}"></div>
				</div>
        	
	          <input 
	          type="radio" 
	          id="stage1-existing" 
	          name="stage1_new_existing" 
	          value="Existing job" 
	          ng-model="form.stage1Job" 
	          required>
	          Existing Job
	        </label>

	        <span class="help-icon" data-toggle="tooltip" data-placement="top" title="Tooltip on left lorem" tooltip></span>

	        <span ng-show="stage1.stage1_new_existing.$invalid && stage1.stage1_new_existing.$dirty" class="field-error" >Required!</span>
        
    </div>

   	<div class="clearfix"></div>
	
	<div class="info-nw-ex" ng-if="form.stage1Job === 'New job'" >


		<div class="form-group col-md-12"> 

			<label class=control-label>Type of project (Check all that applies)</label> 

			<span ng-show="!form.stage1DigProj && !form.stage1NewStudProj &&  !form.stage1NewDesProj && (stage1.stage1_new_des_proj.$dirty || stage1.stage1_new_stud_proj.$dirty || stage1.stage1_dig_proj.$dirty)" class=field-error>Required!</span> <br> 

			<label class="checkbox-inline" for="stage1-new-des-proj"> 
				
				<div class="checkbox-icon" ng-class="{'active' : request_form.stage1.stage1_new_des_proj.$valid}">
					<div class="checked-checkbox-icon" ng-class="{'active': form.stage1NewDesProj}"></div>
				</div>
				<input
				checked="checked"
				type="checkbox"
				id="stage1-new-des-proj" 
				name="stage1_new_des_proj" 
				ng-model="form.stage1NewDesProj" 
				value="Design Project"
				ng-required="!form.stage1NewStudProj && !form.stage1DigProj"> Design projects 
				

			</label> 

			<span class="help-icon" data-toggle="tooltip" data-placement="top" title="Tooltip on left lorem" tooltip></span>

			<label class="checkbox-inline" for="stage1-new-stud-proj"> 

				<div class="checkbox-icon" ng-class="{'active' : request_form.stage1.stage1_dig_proj.$valid}">
					<div class="checked-checkbox-icon" ng-class="{'active': form.stage1NewStudProj}"></div>
				</div>
				<input 
				type="checkbox" 
				id="stage1-new-stud-proj" 
				name="stage1_new_stud_proj" 
				ng-model="form.stage1NewStudProj" 
				value="NB or internal" 
				ng-required="!form.stage1NewDesProj && !form.stage1DigProj"> Typesetting project 
			</label> 

			<span class="help-icon" data-toggle="tooltip" data-placement="top" title="Tooltip on left lorem" tooltip></span>

			<label class="checkbox-inline" for="stage1-dig-proj"> 
				
				<div class="checkbox-icon" ng-class="{'active' : request_form.stage1.stage1_dig_proj.$valid}">
					<div class="checked-checkbox-icon" ng-class="{'active': form.stage1DigProj}"></div>
				</div>
				<input 
				type="checkbox" 
				id="stage1-dig-proj" 
				name="stage1_dig_proj" 
				ng-model="form.stage1DigProj" 
				value="Budget in Paprika" 
				ng-required="!form.stage1NewDesProj && !form.stage1NewStudProj"> Digital project 
			</label> 

			<span class="help-icon" data-toggle="tooltip" data-placement="top" title="Tooltip on left lorem" tooltip></span>


		</div>

		<div class="clearfix"></div>
		
		<div class="form-group col-md-2">
			<label for="stage1-client">Client</label>

			<span ng-show="stage1.stage1_client.$invalid && stage1.stage1_client.$dirty" class="field-error" >Required!</span>

			<input 
			type="text" 
			class="form-control" 
			id="stage1-client"
			name="stage1_client"
			ng-model="form.stage1Client"
			placeholder="e.g Bayer"
			required>
		</div>


		<div class="form-group col-md-2">
			<label for="stage1-product">Product</label>
			
			<span ng-show="stage1.stage1_product.$invalid && stage1.stage1_product.$dirty" class="field-error" >Required!</span>

			<input 
			type="text" 
			class="form-control" 
			id="stage1-product"
			name="stage1_product"
			ng-model="form.stage1Product"
			placeholder="e.g Xarelto"
			required>
		</div>


		<div class="clearfix"></div>


		<div class="form-group col-md-8">
			<label for="stage1-title">Project Title</label>

			<span ng-show="stage1.stage1_title.$invalid && stage1.stage1_title.$dirty" class="field-error" >Required!</span>

			<input 
			type="text" 
			class="form-control" 
			id="stage1-title"
			name="stage1_title"
			ng-model="form.stage1Title"
			placeholder="e.g Xarelto Brand Plan Presentation"
			required>
		</div>


		<div class="clearfix"></div>


		<!-- <div class="form-group col-md-6">
			<label for="stage1-contact">Contact Person</label>
			<input 
			type="text" 
			class="form-control" 
			id="stage1-contact"
			name="stage1_contact"
			ng-model="form.stage1Contact"
			placeholder="Your name">
		</div>
 -->

		<div class="form-group col-md-8">
			<label for="stage1-account">Account Person</label>

			<span ng-show="stage1.stage1_account.$invalid && stage1.stage1_account.$dirty" class="field-error" >Required!</span>

			<input 
			type="text" 
			class="form-control" 
			id="stage1-account"
			name="stage1_account"
			ng-model="form.stage1Account"
			placeholder="Your name"
			required>
		</div>


		<div class="form-group col-md-8">
        
	        <label class="control-label">Budget status (select one) </label>

	        <span class="help-icon" data-toggle="tooltip" data-placement="top" title="Tooltip on left lorem" tooltip></span>
			
			 <span ng-show="!form.stage1NbOrInt && !form.stage1BugInPap && !form.stage1Estimate && (stage1.stage1_bug_in_pap.$dirty || stage1.stage1_nb_or_int.$dirty || stage1.stage1_estimate.$dirty)" class="field-error" >Required!</span>

	        <br>

	        <label class="checkbox-inline" for="stage1-bug-in-pap">

	          <div class="checkbox-icon" ng-class="{'active' : request_form.stage1.stage1_bug_in_pap.$valid}">
					<div class="checked-checkbox-icon" ng-class="{'active': form.stage1BugInPap}"></div>
				</div>
	          <input 
	          type="checkbox" 
	          id="stage1-bug-in-pap" 
	          name="stage1_bug_in_pap" 
	          ng-model="form.stage1BugInPap"
	          ng-required="!form.stage1NbOrInt && !form.stage1Estimate"> Budget in Paprika
	        </label>


	        <label class="checkbox-inline" for="stage1-nb-or-int">

	          <div class="checkbox-icon" ng-class="{'active' : request_form.stage1.stage1_nb_or_int.$valid}">
					<div class="checked-checkbox-icon" ng-class="{'active': form.stage1NbOrInt}"></div>
				</div>
	          <input 
	          type="checkbox" 
	          id="stage1-nb-or-int" 
	          name="stage1_nb_or_int" 
	          ng-model="form.stage1NbOrInt" 
	          ng-required="!form.stage1BugInPap && !form.stage1Estimate"> New Business or Internal
	        </label>

			<label class="checkbox-inline" for="stage1-estimate">

			  <div class="checkbox-icon" ng-class="{'active' : request_form.stage1.stage1_estimate.$valid}">
					<div class="checked-checkbox-icon" ng-class="{'active': form.stage1Estimate}"></div>
				</div>
	          <input 
	          type="checkbox" 
	          id="stage1-estimate" 
	          name="stage1_estimate" 
	          ng-model="form.stage1Estimate" 
	          ng-required="!form.stage1BugInPap && !form.stage1NbOrInt"> Need an estimate
	        </label>


	    </div>
		
			
		


	    <!-- s -->
	    </div>
		
	</div>


	<div class="info-nw-ex" ng-if="form.stage1Job === 'Existing job'">
		
		<div class="col-md-4 form-group">
	        <label for="stage1-routing-sheet" class="control-label">Routing sheet</label>

	        <div class="input-group">	          
	              
              <input 
              type="file" 
              id="stage1-routing-sheet" 
              name="stage1_routing_sheet" 
              multiple="" 
              ng-model="form.stage1RoutingSheet">
	        </div>
	    </div>


	    <div class="col-md-4 form-group">

	        <label for="stage1-existing-stud-proj" class="control-label checkme-down">

	          <input 
		          type="checkbox" 
		          value="studio" 
		          id="stage1-existing-stud-proj" 
		          name="stage1_existing_stud_proj"
		          ng-model="form.stage1ExistingStudProj" > Studio project
		      </label>
	        
	    </div>


	    <div class="clearfix"></div>


	    <div class="col-md-4 form-group">
	        <label for="stage1-marked-up" class="control-label">Marked up file</label>

	        <div class="input-group">	          
	              
              <input 
              type="file" 
              id="stage1-marked-up" 
              name="stage1_marked_up" 
              multiple="" 
              ng-model="form.stage1MarkedUp">
	  
	        </div>
	    </div>


	    <div class="col-md-4 form-group">

	        <label for="stage1-hard-cp" class="control-label checkme-down">

	          <input 
		          type="checkbox" 
		          value="studio" 
		          id="stage1-hard-cp" 
		          name="stage1_hard_cp" 
		          ng-model="form.stage1HardCp" > Hard copy
		      </label>
	        
	    </div>
		
	</div>

</ng-form>